@model HomeViewModel
@{ 
    int availlableBooksCount = Model.BooksCount - Model.LentBooksCount;
}

<h1>Library Manager Dashboard</h1>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Customers Count
            </div>
            <div class="panel-body">
                There are @Model.CustomersCount customers
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Authors Count
            </div>
            <div class="panel-body">
                There are @Model.AuthorsCount authors
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Books Count
            </div>
            <div class="panel-body">
                There are @availlableBooksCount available books out of  @Model.BooksCount books
            </div>
        </div>
    </div>
</div>